.portfolio_bg {
  background-color: #fefafa;
  padding: 70px 0 ;
}
.portfolio_title {
  text-align: center;
}
.portfolio_heading {
  color: #002d5b;
  margin-bottom: 05px;
}
.portfolio_hr {
  height: 2px;
  background-color: #ec5b53;
  border: none;
  width: 100px;
  margin: 18px 0 25px 620px;
}
a {
  font-weight: bold;
  color: #ec5b53;
}
.link_Portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
iframe {
  width: 353px;
  height: 213px;
}
