.touch_title {
  padding-top: 39px;
  text-align: center;
}
.touch_heading {
  color: #002d5b;
  margin-bottom: 15px;
}
.touch_hr {
  height: 2px;
  background-color: #ec5b53;
  border: none;
  width: 100px;
  margin: 18px 0 25px 625px;
}
.touch_card {
  padding-bottom: 39px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.input {
  background-color: #efefef;
  width: 550px;
  height: 45px;
}
.form {
  margin: 72px 0px 50px 300px;
}
.but {
  background-color: #ec5b53;
  color: white;
  width: 150px;
  height: 45px;
}
